你收到了关于文章 《{{ post.title }}》 来自 {{ comment.author }} 的评论:<br/><br/>

{{ comment.text }}

<hr/>
<address>此邮件由 <a href="https://github.com/zengxs/TypechoNotifier">
Typecho Notifier 插件</a> 自动发送</address>
